
@import url("https://use.typekit.net/ppx2jth.css");

  :root {
    --pri-clr: #FEFEFE;
    --sec-clr: #1d1d1b;

    --pri-weight: 300;
    --hover-weight: 500;
  }

  body{
    font-family: "forma-djr-text", sans-serif;
   background-color: var(--pri-clr);
   height: 100vh;
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
  }


  /* NAVIGATION */

    /* prinav */

  #prinav{
    font-weight: var(--pri-weight);
    color: var(--sec-clr);
    display: flex;
    justify-content: flex-end;
    font-size: 45px;


  }

  #prinav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    align-self: flex-end;
    padding-right: 20px;
  }

#prinav li a.nav-link{
    text-decoration: none;
    color: var(--sec-clr);
}

  #prinav li a.nav-link:active{
    color: var(--sec-clr);
  }
  #prinav li a.nav-link:hover{
    color: var(--sec-clr);
  }

  #prinav li a:active{
    color: var(--sec-clr);
  }
  #prinav li a:hover{
    font-weight: var(--hover-weight);
  }

  /* secnav */

  .secnav{
    font-weight: var(--pri-weight);
    display: none;
    color: var(--sec-clr);
    justify-content: end;
    text-transform: uppercase;
    font-size: 35px;
  }

  .secnav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 15px;
      }

    .secnav a{
        text-decoration: none;
        color: var(--sec-clr);
    }

    .secnav a:active{
        color: var(--sec-clr);
      }
    .secnav  a:hover{
        color: var(--sec-clr);
        font-weight: var(--hover-weight);
      }
    
    .secnav a:active{
        color: var(--sec-clr);
      }

  .secnav a:hover{
    font-weight: var(--hover-weight);
  }

  .secnav span{
    position: relative;
  }

  .nav-arrow img{
    position: absolute;
    padding-top: 30px;
    height: 20px;
    width: 20px;

  }

  footer{
    display: flex;
    justify-content: flex-end;
  }


  /*GALLERY*/

  .gallery-container {
    display: none;
}  

main *,
main *::before,
main *::after {
  box-sizing: border-box;
}

body,
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FEFEFE;
  margin: 0;
}

#mz-gallery-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#mz-gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 70px);
  height: calc(100% - 50px);
  max-height: 100%;
  max-width: 1900px;
  margin: 35px 0px;
  background-color: #fefefe;
  background-size: 40px 40px;
  outline-offset: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 0 0 55px;
  scroll-behavior: smooth;
  /* firefox scrollbar */
  scrollbar-color: var(--sec-clr) var(--pri-clr);
  scrollbar-width: auto;
}

#mz-gallery::-webkit-scrollbar {
  height: 25px;
}

#mz-gallery::-webkit-scrollbar-track {
  background: transparent;
}

#mz-gallery::-webkit-scrollbar-thumb {
  background: var(--sec-clr);
}

#mz-gallery::-webkit-scrollbar-thumb:hover {
  background: var(--sec-clr);
}

#mz-gallery::-webkit-scrollbar-thumb:active {
  background: var(--sec-clr);
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 25px;
  width: 80px;
  background-color: var(--sec-clr);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 25px;
  width: 80px;
  background-color: var(--pri-clr);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement:hover,
#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-color: var(--sec-clr);
}

#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement:active,
#mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-color: var(--sec-clr);
}

#mz-gallery figure {
  position: relative;
  margin: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: auto;
  min-height: 100px;
  margin-right: 60px;
  scroll-snap-align: start;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:nth-child(1) {
  margin-left: 60px;
}

#mz-gallery figure div {
  position: absolute;
  width: 1%;
  height: 1%;
  background: transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* #mz-gallery figure div:nth-child(3) {
  top: 0;
  left: 0;
  border-left: 3px solid var(--sec-clr);
  border-top: 3px solid var(--sec-clr);
  border-radius: 0px 0px 0px 0px;
}

#mz-gallery figure div:nth-child(4) {
  top: 0;
  right: 0;
  border-top: 3px solid var(--sec-clr);
  border-right: 3px solid var(--sec-clr);
  border-radius: 0px 0px 0px 0px;
} */

#mz-gallery figure div:nth-child(5) {
  bottom: 0;
  right: 0;
  border-right: 8px solid var(--sec-clr);
  border-bottom: 8px solid var(--sec-clr);
  border-radius: 0px 0px 0px 0px;
  max-width: 10%;
  max-height: 10%;
} 

/* #mz-gallery figure div:nth-child(6) {
  bottom: 0;
  left: 0;
  border-bottom: 5px solid var(--sec-clr);
  border-left: 5px solid var(--sec-clr);
  border-radius: 0px 0px 0px 0px;
} */

#mz-gallery figure img {
  height: 100%;
  width: auto;
  border-radius: 0px;
  opacity: 0.9;
  filter: brightness(1);
  outline-offset: -40px;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure figcaption {
  position: absolute;
  color: transparent;
  font-size: 18pt;
  line-height: 24pt;
  font-weight: 500;
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  background-size: 100%;
  opacity: 0;
  pointer-events: none;
  animation: background 100s linear infinite;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:hover img {
  height: calc(100% - 40px);
  filter: brightness(1.5);
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:hover {
  padding: 0px 20px;
}

#mz-gallery figure:hover figcaption {
  opacity: 0.8;
  color: var(--pri-clr);
  text-shadow: 1px 1px 3px var(--sec-clr), 0px 0px 5px var(--sec-clr);
  transition: all 0.3s ease-in-out;
}

#mz-gallery figure:hover div {
  width: 25%;
  height: 25%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1145px) {
  #mz-gallery figure {
    scroll-snap-align: center;
  }
  #mz-gallery {
    scroll-padding: 0px 0px 0px 0px !important;
  }
}

@media (max-width: 610px) {
  #mz-gallery {
    max-height: 320px;
  }
  #mz-gallery figure {
    margin-right: 20px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 20px;
  }
}

@media (max-height: 425px) {
  #mz-gallery figure figcaption {
    font-size: 14pt;
    line-height: 20pt;
  }
}

@media (max-height: 340px) {
  #mz-gallery {
    background-size: 30px 30px;
    scroll-padding: 0 0 0 28px;
  }
  #mz-gallery figure {
    margin-right: 30px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 30px;
  }
  #mz-gallery figure figcaption {
    font-size: 12pt;
    line-height: 18pt;
    font-weight: 400;
  }
}

@media (max-height: 280px) {
  #mz-gallery::-webkit-scrollbar {
    height: 20px;
  }
  #mz-gallery::-webkit-scrollbar-button:single-button:horizontal:decrement,
  #mz-gallery::-webkit-scrollbar-button:single-button:horizontal:increment {
    width: 80px;
    height: 20px;
    background-size: 15px;
  }
}

@media (max-height: 230px) {
  #mz-gallery figure figcaption {
    font-size: 10pt;
    line-height: 12pt;
  }
  #mz-gallery figure:hover figcaption {
    outline-offset: -10px;
  }
  #mz-gallery figure:hover img {
    outline-offset: 10px;
  }
}

@media (max-height: 165px) {
  #mz-gallery {
    scroll-padding: 0 0 0 18px;
    margin: 0px;
  }
  #mz-gallery figure {
    margin-right: 20px;
  }
  #mz-gallery figure:nth-child(1) {
    margin-left: 20px;
  }
}

/* touch screen devices */

@media (pointer: coarse) {
  #mz-gallery * {
    pointer-events: none;
  }
  #mz-gallery::-webkit-scrollbar {
    height: 35px;
  }
  #mz-gallery {
    scroll-snap-type: unset;
    scroll-padding: unset;
    scroll-behavior: unset;
  }
  #mz-gallery figure {
    scroll-snap-align: unset;
  }
  #mz-gallery figure figcaption {
    width: 100%;
    height: 20%;
    bottom: 0;
    opacity: 1;
    background-color: none;
    color: var(--pri-clr);
    animation: unset;
    border-radius: 0;
    padding: 0px 15px;
  }
}


  @media screen and (min-width: 1180px) {

    .secnav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
      }

      body{
        grid-template-rows: auto 1fr auto;
      }

  }

  @media screen and (max-width: 1180px) {

 
    .nav-arrow img{
        padding-top: 20px;
        height: 10px;
      }

  }


  @media screen and (max-width: 900px){
    .secnav{
        font-size: 20px;
    }

    #prinav{
        font-size: 30px;
    }

    body{
        grid-template-rows: auto auto auto;
      }
  }
    
  